doctype html
html(lang="nl")
    head
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible" content="ie=edge") 
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, user-scalable=yes") 
        meta(name="robots" content="all") 
        meta(name="Description" content="Webdesignpuntnl Culemborg is een eenmanszaak gespecialiseerd in het ontwerpen en bouwen van websites.") 
        meta(name="copyright" content="Copyright Webdesignpuntnl Culemborg") 
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
        link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet')

        title Webdesignpuntnl - een website op maat
    body
        block header
            <!-- top logo -->
            header(class="header") 
                a(href=`${path}index.html` title="homepage" class="logo")
                    div(class="logo__top")
                        div(class="logo__top__cirkelTop")
                            span(class="logo__top__cirkelTop__orange") half orange cirkel
                        h1(class="logo__text") webdesign
                            span(class="logo__text__dot") punt
                            | nl
                        div(class="logo__cirkelBottom") 
                            span(class="logo__cirkelBottom__yellow") half yellow cirkel
                block navigation 
                    <!-- top navigation -->
                    nav(class="header__nav")
                        a(href=(`${path}index.html`) class=(page == "index" ? "header__nav__link header__nav__link--active" : 'header__nav__link')) home
                        ul(class="header__nav__menu")
                            li(class="header__nav__menu__page")
                                a(href=(`${path}pages/about.html`) class=(page == "about" ? "header__nav__link header__nav__link--active" : 'header__nav__link')) over
                            li(class="header__nav__menu__page")
                                a(href=(`${path}pages/blog.html`) class=(page == "blog" ? "header__nav__link header__nav__link--active" : 'header__nav__link')) blog
                            li(class="header__nav__menu__page")
                                a(href=(`${path}pages/projects.html`) class=(page == "projects" ? "header__nav__link header__nav__link--active" : 'header__nav__link')) projecten
                            li(class="header__nav__menu__page")
                                a(href=(`${path}pages/tools.html`) class=(page == "tools" ? "header__nav__link header__nav__link--active" : 'header__nav__link')) tools
                            li(class="header__nav__menu__page")
                                a(href="#contactForm" class=(page == "contact" ? "header__nav__link header__nav__link--active" : 'header__nav__link')) contact
                        <!-- hamburger icon -->
                        div(class="menuSmall change" id="hamburgerIcon", role="button")
                            div(class="menuSmall__line01") Lijn01
                            div(class="menuSmall__line02") Lijn02
                            div(class="menuSmall__line03") Lijn03
        .pageWrapper
            main
                block content
                    
        footer(class="footer")
            div(class="footer__top")
                div(class="footer__top__adress")
                    h3(class="footer__top__adress__heading") adres gegevens
                    adress
                        ul
                            li(class="footer__top__adress__item")
                                a(href="tel:0031638399229" class="footer__top__adress__tel") &plus;31638399229
                            li(class="footer__top__adress__item")
                                span Culemborg
                            li(class="footer__top__adress__item")
                                span Holland
                div(class="footer__top__social")
                    h3(class="footer__top__social__heading") Social Links
                    ul(class="footer__top__social__list")
                        li(class="footer__top__social__list__item")
                            a(href="https://www.linkedin.com" target="_blank") 
                                span(class="iconLinkedin" class="footer__top__icon footer__top__icon--linkedin") Facebook 
                        li(class="footer__top__social__list__item")
                            a(href="https://www.twitter.com" target="_blank")
                                span(class="iconTwitter" class="footer__top__icon footer__top__icon--twitter") Twitter 
                        li(class="footer__top__social__list__item")
                            a(href="https://www.facebook.com" target="_blank")
                                span(class="iconFacebook" class="footer__top__icon footer__top__icon--facebook") Facebook
                div(class="footer__bottom")
                    p Webdesignpuntnl 2018