extends ../layout/layout

block prepend head
    - var page = "contact"
    - var title = "contactformulier"
    - var description = "neem contact met ons op voor een afpraak, vragen of opmerkingen"
    - var path = "../"

block content
  article(class="article")
    h2(class="h2") contact / aanvraag
    p(class="p p--center") Wil je meer weten? Wil je je site vrijblijvend laten testen? Of wil je een afspraak maken? Vul onderstaand formulier in en we nemen zo snel mogelijk contact met je op!
  form(
        method="post" 
        action="../php/formmailContact.php" 
        enctype="multipart/form-data" 
        autocomplete="on" 
        id="contactForm"
        class="form"
        title="contact formulier")
        input(type="hidden" name="env_report" value="REMOTE_HOST,REMOTE_ADDR,HTTP_USER_AGENT,AUTH_TYPE,REMOTE_USER")
        input(type="hidden" name="recipients" value="info_*_webdesignpuntnl.com")
        input(type="hidden" name="good_url" value="../pages/contact-verzonden.html")
        input(type="hidden" name="bad_url" value="../pages/contact-niet-verzonden.html")
        input(type="hidden" name="subject" value="contactformulier")
        fieldset(class="form__fieldset")
            //- input(
                name="hiddenField" 
                type="text" 
                id="hiddenField"
                class="input__textInput input__textInput--hidden" )
            div(class="input")
                //- div.input__message
                input(
                    name="name" 
                    type="text" 
                    id="nameField"
                    class="input__textInput" 
                    pattern="^[a-zA-Z\\s]*$" 
                    placeholder="naam" 
                    required
                    title="gebruik alleen letters en geen cijfers") 
                label(for="nameField" class="input__textInput__label") naam
            //- div(class="input")
                //- div.input__message
                input(
                    name="onderwerp" 
                    type="text"  
                    id="subjectField"
                    class="input__textInput"
                    pattern="^[a-zA-Z\\s]*$" 
                    required
                    placeholder="onderwerp" 
                    title="vul een onderwerp in")
                label(for="subjectField" class="input__textInput__label") onderwerp
            div(class="select")
                select(
                    name="onderwerp" 
                    id="subjectField"
                    class="input__textInput input__textInput--subjectField" 
                    title="kies onderwerp voor je vraag")
                    option(value="" selected disabled) onderwerp vraag 
                    option(value="ik wil mijn site testen") ik wil mijn site vrijblijvend testen
                    option(value="ik wil een afspraak maken") ik wil een afspraak maken
                    option(value="ik wil meer informatie") ik wil meer informatie
                //- label(for="subjectField" class="input__textInput__label") onderwerp
            div(class="input")
                input(
                    name="email" 
                    type="email"  
                    id="emailField"
                    class="input__textInput" 
                    required
                    pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" 
                    placeholder="email" title="vul een geldig emailadres in")
                label(for="emailField" class="input__textInput__label") email
            //- div(class="input")
                input(
                    name="linkField" 
                    type="url"  
                    id="linkField"
                    class="input__textInput" 
                    pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" 
                    placeholder="url website" title="vul een geldige url in")
                label(for="linkField" class="input__textInput__label") url website
            //- div(class="input")
                input(
                    name="phone" 
                    type="tel"  
                    id="phoneField"
                    class="input__textInput"
                    pattern="^((\+|00(\s|\s?-\s?)?)31(\s|\s?-\s?)?(\(0\)[-\s]?)?|0)[1-9]((\s|\s?-\s?)?[0-9])((\s|\s?-\s?)?[0-9])((\s|\s?-\s?)?[0-9])\s?[0-9]\s?[0-9]\s?[0-9]\s?[0-9]\s?[0-9]$"
                    placeholder="telefoon" 
                    title="vul een geldig telefoonnummer in")
                label(for="phoneField" class="input__textInput__label") telefoon
            div(class="input")
                textarea(
                    name="remarks"  
                    id="remarksField"
                    class="input__textInput form__input__textarea" 
                    placeholder="bericht"
                    title="vul een vraag in")
                label(for="remarksField" class="input__textInput__label") bericht
            div(class="input")
                input(
                    name="sum" 
                    type="text"  
                    id="antiSpamField"
                    class="input__textInput" 
                    required
                    placeholder="Los de som op 5 + 1" 
                    title="Geef aub het juist antwoord!")
                label(for="antiSpamField" class="input__textInput__label") Los de som op 5 + 1
            div(class="input")
                button(
                    name="insturen" 
                    type="submit" 
                    class="input__textInput input__textInput__submitButton") versturen
block script
    script(src=`${path}js/contactForm-bundle.js`)
    script(src=`${path}js/main-bundle.js`)


