extends layout/layout

block prepend header
    - var page = "index"
    - var path = ""

block content
    <!-- about -->
    article
        h2 Webdesignpuntnl
        p Webdesigpuntnl is een fullservice eenmanszaak voor het ontwikkelen van webappllicties.
            | Wij kunnen er voor zorgen dat u bedrijf te vinden is op internet. De applicaties die we
            | bouwen werken op elk schermformaat en worden gebouwd met de laatste technieken.
            | Webdesignpuntl heeft de meeste kennis zelf in huis. Mochten we er echter niet uitkomen zoeken we samenwerking 
            | met andere professionals. Wilt u meer informatie neem dan contact met ons op.
    <!-- contact form -->
    form(
        method="post" 
        action="pages/contact-verzonden.html" 
        enctype="multipart/form-data" 
        autocomplete="on" 
        id="contactForm"
        class="form")
        h2(class="form__h2") contact
        fieldset(class="form__fieldset")
            div(class="input")
                input(
                    name="name" 
                    type="text" 
                    id="nameField"
                    class="input__textInput" 
                    pattern="^[a-zA-Z ]*$" 
                    placeholder="naam" 
                    required 
                    title="gebruik alleen letters en geen cijfers") 
                label(for="nameField" class="input__textInput__label") naam
            div(class="input")
                input(
                    name="onderwerp" 
                    type="text"  
                    id="subjectField"
                    class="input__textInput" 
                    placeholder="onderwerp" 
                    title="vul hier een onderwerp in")
                label(for="subjectField" class="input__textInput__label") onderwerp
            div(class="input")
                input(
                    name="email" 
                    type="email"  
                    id="emailField"
                    class="input__textInput" 
                    required 
                    pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" 
                    placeholder="email" title="vul een geldig emailadres in")
                label(for="emailField" class="input__textInput__label") email
            div(class="input")
                input(
                    name="phone" 
                    type="tel"  
                    id="phoneField"
                    class="input__textInput" 
                    required 
                    pattern="^[0-9]*$" 
                    placeholder="telefoon" 
                    title="vul een geldig telefoonnummer in")
                label(for="phoneField" class="input__textInput__label") telefoon
            div(class="input")
                textarea(
                    name="remarks"  
                    id="remarksField"
                    class="input__textInput form__input__textarea" 
                    required 
                    placeholder="bericht")
                label(for="remarksField" class="input__textInput__label") bericht
            div(class="input")
                input(
                    name="insturen" 
                    type="submit" 
                    id="formSubmitButton"
                    class="input__textInput input__textInput__submitButton"
                    value="versturen")